P1/EventTicket_WithErrors.cpp

*.o
*.obj

*.exe
*.out
P1/EventTicket
P1/P1
practise/test
practise/P2/simple

*.dSYM/
*.su
*.idb
*.pdb

IP1/City
IP1/cpu
IP1/event ticket
IP1/perfume
IP2 with error

IP2/demo
IP2/test
